{% extends '::base.html.twig'%}

{% block body %}

    <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
    
    
    <html class="no-js"> <!--<![endif]-->
        <head>

            <title>Aleximmo</title>

            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">


        </head>

        <body>
            
             <div id="home-page">
                    
                            <!-- site-navigation start -->  
            <nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">
                <div class="container">
                    
                    <div class="navbar-header">
                        
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                       

                    </div><!-- /.navbar-header -->
                 
                 
                 
                    <!-- site-navigation start -->  
                    <nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">

                        <div class="container">
                            
                                     <div class="navbar-header">
                 
                        
                        <!-- navbar logo -->
                        <div class="navbar-brand">
                            <span class="sr-only">ALEXIMMO</span>
                           
                              
                                 <img src="{{asset('template1/img/logo.jpg')}}" class="img-responsive center-block" alt="logo"> 
                 
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->
                            
                    <br>      


                            <!-- nav links -->
                            <div class="collapse navbar-collapse" id="main-nav-collapse">
                                <ul class="nav navbar-nav navbar-right text-uppercase">
                                    <li>
                                        <a href={{path('acceuil')}}><span>Acceuil</span></a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="{{path('about')}}" class="dropdown-toggle" data-toggle="dropdown"><span>A propos</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{path('about')}}">about</a>
                                            </li>



                                        </ul>  <!-- end of /.dropdown-menu -->
                                    </li> <!-- end of /.dropdown -->

                                         <li class="dropdown">
                                        <a href="{{path('admin Articles_index')}}" class="dropdown-toggle" data-toggle="dropdown"><span>Nos travaux</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{path('admin Articles_index')}}">travaux de domaine sportif</a>
                                            </li>

                                            <li>
                                                <a href="{{path('batiment')}}">Travaux de batiment </a>
                                            </li>
                                            
                                             <li>
                                                <a href="{{path('electricite')}}">Travaux d'electricite </a>
                                            </li>

                                        </ul>  <!-- end of /.dropdown-menu -->
                                    </li> <!-- end of /.dropdown -->

                                
                                    
                                </ul>
                            </div><!-- nav links -->

                        </div><!-- /.container -->
                        <br>
                      

                </div>
          
            </nav>
            <div id="about-page">


                <div class="main-content">

                    <!-- begin our story section -->

                    <section class="bg-white story">
                        <div class="container">
                            <div class="headline text-center">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <h2 class="section-title">Presentation</h2>
                                    </div>
                                </div>
                            </div> <!-- /.headline -->

                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 text-center">
                                    <p class="story-description">

                                        Nous disposons d’une palette des produits qui comprend les revêtements dans le domaine des sols sportifs intérieurs et extérieurs, industriels et décoratifs ainsi que des aires de jeux, des pistes cyclables et de courses. Nous en disposons du stock mais en général la livraison se fait après une commande officielle. <br>


                                        ALEXIMMO en tant que spécialiste du revêtement est un partenaire capable de vous accompagner dans la réalisation de vos projets. Nous ne faisons pas  l’application, nous pouvons disposer d’un surveillant technique et  de tout support nécessaire. Nous pourrions aussi vous envoyer des échantillons et des brochures à consulter.<br> 

                                        Nous restons bien entendu à votre disposition pour vous apporter tout éclaircissement complémentaire. <br>

                                        En espérant avoir prochainement l'occasion de vous rencontrer, recevez, nos salutations les meilleures.<br>

                                        <strong> Notre structure </strong><br>

                                        un siege social <br>

                                        un entrepot de stockage <br>

                                        Moyens de transport <br>

                                        <strong> Equipements de travaux public <br></strong>

                                        Niveleuse <br>

                                        Tractopelle <br>

                                        Cylindre <br>

                                        Machine d'entretien sable et granulat  <br>





                                        LA DIRECTION

                                    </p> <!-- /.story-description -->
                                </div>
                            </div>
                        </div>
                    </section>






                </div> 


                <footer>
                    <div class="container">
                        <div class="row">

                            <!-- useful links -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>Liens</h4>
                                <ul class="row footer-links">
                                    <div class="col-md-6 col-sm-6 col-xs-6">

                                        
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="{{path('about')}}">A propos</a></li>
                                    <li><a href="{{path('admin Articles_index')}}">Travaux de domaine sportif</a></li> 
                                    <li><a href="{{path('batiment')}}">Travaux de Batiment </a></li> 
                                    <li><a href="{{path('electricite')}}">Travaux d'Electricite</a></li>
                                       
                                    </div>


                                </ul>
                            </div>

                            <!-- recent news -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>Aleximmo</h4>

                                <div class="row footer-news">

                                    <div class="col-md-8 col-sm-4 col-xs-6">
                                        <div class="row">
                                            <p class="text-capitalize">

                                                Adresse :App .9.Immeuble EL Hakim Av.Paris-Ben Arous 2013

                                            </p>

                                        </div>
                                    </div>
                                </div> <!-- /.footer-news -->


                            </div> <!-- /.footer-widget -->

                            <!-- news-letter -->


                            <!-- about avada agency -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>Tel</h4>

                                <p>
                                    +216 79 391 088
                                </p>

                    
                            </div> <!-- /.footer-widget -->
                            
                   <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                                <h4>Fax</h4>

                                <p>
                                    +216 79 391 056
                                </p>




                            </div> <!-- /.footer-widget -->

                        </div>
                    </div>
                </footer>


                <!-- footer-navigation start -->  
                <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                    <div class="container">

                        <div class="navbar-header">

                            <!-- navbar logo -->
                            <div class="navbar-brand">
                                <span class="sr-only">2018 All Rights Reserved. Designed by Aleximmo</span>
                                <a href="#">
                                    2018 All Rights Reserved. Designed by Aleximmo
                                </a>
                            </div>
                            <!-- navbar logo -->

                        </div><!-- /.navbar-header -->

                        <!-- nav links -->


                    </div><!-- /.container -->
                </nav>
                <!-- footer-navigation end -->

            </div> <!-- end of /#home-page -->

            <!--  Necessary scripts  -->
           
        </body>

    </html>


</div>


</body>
</html>

{%endblock  %}