{% extends '::base.html.twig'%}

{% block body %}

    <!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> 

    <html class="no-js"> <!--<![endif]-->
        <head>

            <title>Aleximmo</title>

            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">


   


        </head>
        {% block content %}
            <body>


                <div id="home-page">

                    <!-- site-navigation start -->  
                    <nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">

                        <div class="container">
                            
                                     <div class="navbar-header">
                           
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>              
                                         
                                         
                        
                        <!-- navbar logo -->
                        <div class="navbar-brand">
                            <span class="sr-only">ALEXIMMO</span>
                           
                              
                                 <img src="{{asset('template1/img/logo.jpg')}}" class="img-responsive center-block" alt="logo"> 
                 
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->
                            
                    <br>      


                            <!-- nav links -->
                            <div class="collapse navbar-collapse" id="main-nav-collapse">
                                <ul class="nav navbar-nav navbar-right text-uppercase">
                                    <li>
                                        <a href={{path('acceuil')}}><span>Acceuil</span></a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="{{path('about')}}" class="dropdown-toggle" data-toggle="dropdown"><span>A propos</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{path('about')}}">about</a>
                                            </li>



                                        </ul>  <!-- end of /.dropdown-menu -->
                                    </li> <!-- end of /.dropdown -->

                                    <li>
                                        <a href={{path('admin Articles_index')}}><span>Nos travaux</span></a>
                                    </li>


                                </ul>
                            </div><!-- nav links -->

                        </div><!-- /.container -->
                        <br>
                        <div class="row carousel-holder">

                            <div class="col-md-12">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="slide-image" src="{{asset('template1/img/1.jpg')}}" alt="">
                                        </div>

                                        <div class="item">
                                            <img class="slide-image" src="{{asset('template1/img/2.jpg')}}" alt="">
                                        </div>
                                        <div class="item">
                                            <img class="slide-image" src="{{asset('template1/img/3.jpg')}}"alt="">
                                        </div>

                                        <div class="item">
                                            <img class="slide-image" src="{{asset('template1/img/6.jpg')}}"alt="">
                                        </div>

                                        <div class="item">
                                            <img class="slide-image" src="{{asset('template1/img/5.jpg')}}"alt="">
                                        </div>

                                    </div>


                                </div>  


                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>

                </div>
            </nav>
            <!-- site-navigation end -->


            <!-- header start -->
     
            <!-- /#header -->

            <div class="main-content">

                <!--  begin intro section -->

                <section class="intro bg-light-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">

                                <img src="{{asset('template1/img/intro3.jpg')}}" class="img-responsive center-block" alt="intro">     
                            </div>

                            <div class="col-md-7">
                                <div class="intro-description">
                                    <h2>ALEXIMMO</h2>
                                    <p>
                                        ALEXIMMO, est une Société TUNISIENNE, crée en 2013 spécialisée
                                    </p>

                                    <ul class="points">
                                        <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            le domaine du batiment ,des travaux publics, militaires,aéronautiques,navales et routiers
                                        </li>
                                        <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            l'exploitation d'une agence immobiliere , a savoir : construction, aménagement , peinture et décoration des locaux
                                        </li>
                                        <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            l'installation électrique téléphonique ,caméras, et vidéosurveillances
                                        </li>
                                        <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            l'installation sanitaire, climatisation et protection contre les incendies
                                        </li>
                                        <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            la construction métallique et la ferronnerie
                                        </li>

                                        <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            le menuiserie aluminium et bois
                                        </li>
                                        <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            la decoration et l'aménagement intérieur et éxtérieur
                                        </li>

                                        <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                                            jardinage
                                        </li>


                                    </ul> <!-- end of /.points -->

                                    <a href="{{path('admin Articles_index')}}" class="btn btn-info">
                                        Nos travaux
                                    </a> <!-- /purchase button -->
                                </div> <!-- end of /.intro-description -->
                            </div>
                        </div>
                    </div> <!-- end of /.container -->
                </section> 
                <!--  end of intro section -->


                <!--  begin feature section  -->
                <section class="bg-white feature">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="feature-content text-center">
                                    <div class="feature-icon-box">
                                        <div class="feature-icon center-block">
                                            <i class="fa fa-euro"></i>
                                        </div>
                                    </div> <!--  end of /.feature-icon-box  -->
                                    <div class="feature-info">
                                        <h3 class="feature-heading">UN service financier</h3>

                                    </div> <!--   end of /.feature-info  -->
                                </div> <!--  end of /.feature-content  -->
                            </div>

                            <div class="col-md-3">
                                <div class="feature-content text-center">
                                    <div class="feature-icon-box">
                                        <div class="feature-icon center-block">
                                            <i class="fa fa-fire"></i>
                                        </div>
                                    </div> <!--  end of /.feature-icon-box  -->
                                    <div class="feature-info">
                                        <h3 class="feature-heading">Un service commercial</h3>

                                    </div> <!--   end of /.feature-info  -->
                                </div> <!--  end of /.feature-content  -->
                            </div>

                            <div class="col-md-3">
                                <div class="feature-content text-center">
                                    <div class="feature-icon-box">
                                        <div class="feature-icon center-block">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                    </div> <!--  end of /.feature-icon-box  -->
                                    <div class="feature-info">
                                        <h3 class="feature-heading">Un service achat</h3>

                                    </div> <!--   end of /.feature-info  -->
                                </div> <!--  end of /.feature-content  -->
                            </div>

                            <div class="col-md-3">
                                <div class="feature-content text-center">
                                    <div class="feature-icon-box">
                                        <div class="feature-icon center-block">
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div> <!--  end of /.feature-icon-box  -->
                                    <div class="feature-info">
                                        <h3 class="feature-heading">un service d'etude</h3>

                                    </div> <!--   end of /.feature-info  -->
                                </div> <!--  end of /.feature-content  -->
                            </div>

                            <div class="col-md-3">
                                <div class="feature-content text-center">
                                    <div class="feature-icon-box">
                                        <div class="feature-icon center-block">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </div>
                                    </div> <!--  end of /.feature-icon-box  -->
                                    <div class="feature-info">
                                        <h3 class="feature-heading">Service après vente</h3>

                                    </div> <!--   end of /.feature-info  -->
                                </div> <!--  end of /.feature-content  -->
                            </div>

                            <div class="col-md-3">
                                <div class="feature-content text-center">
                                    <div class="feature-icon-box">
                                        <div class="feature-icon center-block">
                                            <i class="glyphicon glyphicon-briefcase"></i>
                                        </div>
                                    </div> <!--  end of /.feature-icon-box  -->
                                    <div class="feature-info">
                                        <h3 class="feature-heading">Equipe de réalisation des travaux</h3>

                                    </div> <!--   end of /.feature-info  -->
                                </div> <!--  end of /.feature-content  -->
                            </div>


                        </div>
                    </div> <!-- end of /.container -->
                </section>  
                <!--   end of feature section  -->


                <!--  begin portfolio section  -->

                <!--   end of portfolio section  -->


                <!-- begin twitter-feed section -->
                <!--   end of /.twit-feed section  -->



                <!-- begin pricing section -->

                <!-- end of pricing section -->



                <!--  begin testimonial section  -->


                <!--  end of testimonial  section -->

            </div> <!-- end of /.main-content -->

            <footer>
                <div class="container">
                    <div class="row">

                        <!-- useful links -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Liens</h4>
                            <ul class="row footer-links">
                                <div class="col-md-6 col-sm-6 col-xs-6">

                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="{{path('about')}}">A propos</a></li>
                                    <li><a href="{{path('admin Articles_index')}}">Nos travaux</a></li> 
                                </div>


                            </ul>
                        </div>

                        <!-- recent news -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Aleximmo</h4>

                            <div class="row footer-news">

                                <div class="col-md-8 col-sm-4 col-xs-6">
                                    <div class="row">
                                        <p class="text-capitalize">

                                            App .9.Immeuble EL Hakim Av.Paris-Ben Arous 2013 

                                        </p>

                                    </div>
                                </div>
                            </div> <!-- /.footer-news -->


                        </div> <!-- /.footer-widget -->

                        <!-- news-letter -->


                        <!-- about avada agency -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                        
                            <h4>Tel</h4>

                            <p>
                                +216 79 391 088
                            </p>




                        </div> <!-- /.footer-widget -->
                        
                              <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                          
                            <h4>Fax</h4>

                            <p>
                                +216 79 391 056
                            </p>




                        </div> <!-- /.footer-widget -->
                        
                        

                    </div>
                </div>
            </footer>


            <!-- footer-navigation start -->  
            <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                <div class="container">

                    <div class="navbar-header">

                        <!-- navbar logo -->
                        <div class="navbar-brand">
                            <span class="sr-only">2018 All Rights Reserved. Designed by Aleximmo</span>
                            <a href="#">
                                2018 All Rights Reserved. Designed by Aleximmo
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->


                </div><!-- /.container -->
            </nav>
            <!-- footer-navigation end -->

        </div> <!-- end of /#home-page -->

        <!--  Necessary scripts  -->
     
    </body>
{%endblock content %}
</html>
{%endblock  %}