{% extends '::base.html.twig'%}

{% block body %}
    
       <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->    


     <html class="no-js"> <!--<![endif]-->
    <head>
       
            <title>Aleximmo</title>

            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">

    </head> 

      <div id="home-page">

                    <!-- site-navigation start -->  
                    <nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">
    
    <div class="container">
        
        
                                     <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
        <div class="row">   
            <div class="animsition"> 
                <br>
                
                         <!-- navbar logo -->
                        <div class="navbar-brand">
                            <span class="sr-only">ALEXIMMO</span>
                           
                              
                                 <img src="{{asset('template1/img/logo.jpg')}}" class="img-responsive center-block" alt="logo"> 
                 
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->
                            
                    <br>  
                    <br>
                    <br>
                   
                
                 <div class="collapse navbar-collapse" id="main-nav-collapse">
                                <ul class="nav navbar-nav navbar-right text-uppercase">
                                    <li>
                                        <a href={{path('acceuil')}}><span>Acceuil</span></a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="{{path('about')}}" class="dropdown-toggle" data-toggle="dropdown"><span>A propos</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{path('about')}}">about</a>
                                            </li>



                                        </ul>  <!-- end of /.dropdown-menu -->
                                    </li> <!-- end of /.dropdown -->

                                            <li class="dropdown">
                                        <a href="{{path('admin Articles_index')}}" class="dropdown-toggle" data-toggle="dropdown"><span>Nos travaux</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{path('admin Articles_index')}}">travaux de domaine sportif</a>
                                            </li>

                                            <li>
                                                <a href="{{path('batiment')}}">Travaux de batiment </a>
                                            </li>
                                            
                                               <li>
                                                <a href="{{path('electricite')}}">Travaux d'electricite </a>
                                            </li>

                                        </ul>  <!-- end of /.dropdown-menu -->
                                    </li> <!-- end of /.dropdown -->


                                </ul>
                            </div><!-- nav links -->

                        </div><!-- /.container -->
                <form method="POST">

                    titre <input type="text" name="titre">

                    <input type="submit" name="sumbit" class="btn btn-info" value="recherche">



                </form> 
                
                
                
                <div>     
                    {% for article in articles %}
                        <article><br>
                            <br>
                            <dl class="dl-vertical" >

                                <br>




                                <dt><p class="text-left"><strong>{{ article.titre|upper }}</strong></p><br></dt>


                                <br>

                                <p class="text-justify"><img src="{{asset('uploads/'~article.path)}}" alt=""><br></p>
                                <br> 


                                <dd><p class="text-justify"><font face="verdana" width="90px" height="50px">{{ article.description }}</font></p> </dd>


                            </dl>       


                        </article>






                    {% endfor %}
                </div>



            </div>
        </div>
    </div>     
</div>   


        <footer>
                    <div class="container">
                        <div class="row">

                            <!-- useful links -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>Liens</h4>
                                <ul class="row footer-links">
                                    <div class="col-md-6 col-sm-6 col-xs-6">

                                        <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                        <li><a href="{{path('about')}}">A propos</a></li>
                                        <li><a href="{{path('admin Articles_index')}}">Nos travaux</a></li>   
                                    </div>


                                </ul>
                            </div>

                            <!-- recent news -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>Aleximmo</h4>

                                <div class="row footer-news">

                                    <div class="col-md-8 col-sm-4 col-xs-6">
                                        <div class="row">
                                            <p class="text-capitalize">

                                                Adresse :App .9.Immeuble EL Hakim Av.Paris-Ben Arous 2013

                                            </p>

                                        </div>
                                    </div>
                                </div> <!-- /.footer-news -->


                            </div> <!-- /.footer-widget -->

                            <!-- news-letter -->


                            <!-- about avada agency -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>Tel</h4>

                                <p>
                                    +216 79 391 088
                                </p>

                    
                            </div> <!-- /.footer-widget -->
                            
                   <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                                <h4>Fax</h4>

                                <p>
                                    +216 79 391 056
                                </p>




                            </div> <!-- /.footer-widget -->

                        </div>
                    </div>
                </footer>


                <!-- footer-navigation start -->  
                <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                    <div class="container">

                        <div class="navbar-header">

                            <!-- navbar logo -->
                            <div class="navbar-brand">
                                <span class="sr-only">2018 All Rights Reserved. Designed by Aleximmo</span>
                                <a href="#">
                                    2018 All Rights Reserved. Designed by Aleximmo
                                </a>
                            </div>
                            <!-- navbar logo -->

                        </div><!-- /.navbar-header -->

                        <!-- nav links -->


                    </div><!-- /.container -->
                </nav>
                <!-- footer-navigation end -->   



{%endblock  %} 









