{% extends "BackBundle::base.html.twig" %}

{% block A %}
    <div class="row">

        <div class="col-md-3">
            <p class="lead">Listes Des References</p>
            <div class="list-group">
                <a href="{{path('admin Reference_new')}}"class="list-group-item">Ajouter</a>
                <a href="{{path('admin Reference_modifier')}}" class="list-group-item">Modifier</a>
                <a href="{{path('admin Reference_index')}}" class="list-group-item">Afficher</a>
                <a href="{{path('admin Reference_recherche')}}" class="list-group-item">Recherche</a>

            </div>
        </div>

        <div class="col-md-9">
            <table class ="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reference in references %}
                        <tr>


                            <td><a href="{{ path('admin Reference_show', { 'id': reference.id }) }}">{{ reference.id }}</a></td>
                            <td>{{ reference.titre }}</td>
                           

                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('admin Reference_edit', { 'id': reference.id})}}" class="btn btn-info" ><span class="glyphicon glyphicon-edit"></span> modifier</a>
                                    </li>
                               
                                    
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>



        </div>    
    </div>
{% endblock A %}  